services:
  pgadmin:
    image: dpage/pgadmin4:9.9.0
    container_name: pgadmin
    restart: unless-stopped
    ports:
      - "8282:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "pgadmin"
