services:
  portainer:
    image:   portainer/portainer-ce:2.33.3-lts-locked
    container_name: portainer
    hostname: portainer
    restart: always
    ports:
      - "8000:8000"
      - "9000:9000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data:

# O compose nao tem equivalente direto para --detach-keys
# isso so funciona em "docker run", nao no compose.
